

.step-container {
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: center;

  .card {
    min-height: 200px;
    text-align: center;
    padding: 20px;
  
    @media (min-width: 720px) {
      width: 50%;
    }

  }
}